@import "../../../theme.scss";

.container {
    background-color: $background-color;
    width: 40%;
    margin-top: 5%;
}

.container-fluid {
    background-color: $background-color;
}

label, input {
    color: $secondary-color;
}

#formWrapper {
    padding: 50px;
    border-radius: 30px;
    background-color: $foreground-color;
}

button {
    color: $primary-color;
    background-color: $foreground-color;
    text-align: center;
    margin: auto auto;
    width: 10em;
}

button:hover {
    background-color: $primary-color;
    color: $foreground-color;
}

#buttonWrapper {
    text-align: center;
}

.error {
    color: red;
    font-size: 0.8em;
}

h3{
    color: $secondary-color;
    padding: 10px;
    text-align: center;
}

.logo {
    width: 64px;
    height: 64px;
}

.logo:hover {
    cursor: pointer;
}

#logos {
    text-align: center;
}