<div class="container-fluid">
  <div class="container">
    <div id="formWrapper">
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" placeholder="johnsmith@example.com">
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" placeholder="Password">
        </div>
        <div id="buttonWrapper">
          <button type="submit" class="btn">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
