@import "../../theme.scss";

.container {
    text-align: center;
}

.container-fluid {
    width: 80%;
}

#buttons.row {
    margin-bottom: 3em;
}

.btn-group {
    border-radius: 5px;
}

button {
    color: $primary-color;
    background-color: $foreground-color;
}

button:hover {
    color: $foreground-color;
    background-color: $primary-color;
}

@media only screen and (max-width: 768px) {
    .container-fluid {
        width: 100%;
    }
}