<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" [routerLink]="['/']">OPEN HUB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed=!isCollapsed" data-target="#navbarCollapse" aria-controls="navbarCollapse" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="user === undefined">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item" *ngIf="user !== undefined">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
      <li class="nav-item" *ngIf="user === undefined">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li class="nav-item" *ngIf="user !== undefined">
        <a class="nav-link" [routerLink]="['/bookmarks']">Bookmarks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/browse']">Browse</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/popular']">Popular Repos</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/orgs']">Latest Organizations</a>
      </li> 
    </ul>
  </div>
</nav>
