<div class="card" [routerLink]="['/repo/', repository.id]">
  <div class="card-header">
    {{repository.name}}
  </div>
  <div class="card-body">
    <p class="card-text">{{repository.description | slice:-90}}</p>
  </div>
  <div id="stats" class="card-footer row">
    <div class="col">
      <i class="fas fa-star"></i>
      <span>{{repository.stargazers_count}}</span>
    </div>
    <div class="col">
      <i class="fas fa-code-branch"></i>
      <span>{{repository.forks_count}}</span>
    </div>
  </div>
</div>
