<div class="card" [routerLink]="['/repo/', repository.id]">
    <div class="card-body">
      <div id="title" class="row">
        <h5>{{repository.name}}</h5>
      </div>
      <div class="row">
        <p class="card-text">{{repository.description}}</p>
      </div>
      <div id="stats" class="row">
        <div class="col">
          <img src="../../../../assets/icons/watcher.png">
          <span>{{repository.watchers}}</span>
        </div>
        <div class="col">
          <img src="../../../../assets/icons/star.png">
          <span>{{repository.stars}}</span>
        </div>
      </div>
    </div>
</div>
