@import "../../../../theme.scss";

.card {
    width: 300px;
    height: 250px;
    background-color: $foreground-color;
    border-radius: 5px;
}

.card-header {
    text-align: center;
    font-weight: bold;
    color: $primary-color;
    font-size: 20px;
}

.card-body {
    color: $secondary-color;
}

.card-footer {
    color: $primary-color;
}

#stats {
    text-align: center;
}

i {
    padding:5px;
}

span {
    padding: 5px;
}

.card:hover > .card-header {
    color: $background-color;
    background-color: $primary-color;
}

.card:hover {
    cursor: pointer;
}
