@import "../../../theme.scss";

.container {
    background-color: $background-color;
    width: 40%;
}

@media only screen and (max-width: 1300px) {
    .container {
        width: 100%;
    }
}

label, input {
    color: $secondary-color;
}

#formWrapper {
    padding: 50px;
    background-color: $foreground-color;
    border-radius: 5px;
}

button {
    color: $primary-color;
    background-color: $foreground-color;
    text-align: center;
    margin: auto auto;
    width: 10em;
}

button:hover {
    background-color: $primary-color;
    color: $foreground-color;
}

#buttonWrapper {
    text-align: center;
}

.error {
    color: red;
    font-size: 0.8em;
}

h3{
    color: $secondary-color;
    padding: 10px;
    text-align: center;
}

#socialButtons {
    padding-top: 15px;
}

span {
    color: $secondary-color;
}

div a {
    color: $secondary-color;
}

.btn-social:hover {
    cursor: pointer;
}