@import "../../../theme.scss";

.container {
    background-color: $background-color;
    width: 40%;
    margin-top: 5%;
}

.container-fluid {
    background-color: $background-color;
}

label, input {
    color: $secondary-color;
}

#formWrapper {
    padding: 50px;
    border-radius: 30px;
    background-color: $foreground-color;
}

button {
    color: $primary-color;
    background-color: $foreground-color;
    text-align: center;
    margin: auto auto;
    width: 10em;
}

button:hover {
    background-color: $primary-color;
    color: $foreground-color;
}

#buttonWrapper {
    text-align: center;
}