<div class="first row"></div>
<div class="foreground fixed row">
  <div id="titleWrapper">
    <h3 class="secondary-font">Welcome to</h3>
    <h1 class="primary-font">OPEN HUB</h1>
  </div>
</div>
<div class="fixed row">
  <button class="btn btn-secondary btn-lg" [routerLink]="['/register']">Register</button>
</div>
<div class="foreground flex row">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2 class="primary-font">Browse</h2>
        <p class="secondary-font">
          Open Hub congregates data from the
          GitHub API in order to give you a better
          browsing experience for open source
          projects.
        </p>
      </div>
      <div class="col-sm-4">
        <h2 class="primary-font">Save</h2>
        <p class="secondary-font">
          Bookmark the projects you're interested in
          so you can keep track of your open source
          career.          
        </p>
      </div>
      <div class="col-sm-4">
        <h2 class="primary-font">Contribute</h2>
        <p class="secondary-font">
          Start contributing to the projects you're
          interested in! Then leave notes for other
          developers that might want to contribute.
        </p>
      </div>
    </div>
  </div>
</div>
