@import "../../../../theme.scss";

#repo {
    background-color: $foreground-color;
    border-radius: 5px;
    text-align: center;
    padding:20px;
}

h1 {
    color: $primary-color;
}

.col div {
    color: $primary-color;
    padding-top: 10px;
}

#repo:hover > div div a h1 {
    color: $background-color;
}

#repo:hover {
    cursor: pointer;
}

p {
    color: $secondary-color;
}

i {
    color: $primary-color;
}

#buttons {
    text-align: center;
    margin:20px;
}

.btn-group {
    border-radius: 5px;
}

button {
    color: $primary-color;
    background-color: $foreground-color;
}

button:disabled {
    color: $primary-color;
    background-color: $foreground-color;
}

button:hover {
    color: $foreground-color;
    background-color: $primary-color;
}

#editCard {
    text-align: center;
}

#postBtn {
    width: 10em;
}

.col {
    text-align: center;
}

#commit {
    background-color: $background-color;
    border-radius: 5px;
    margin-bottom: 20px;
}

h3 {
    color: $primary-color;
}

textarea {
    border-radius: 5px;
}

#issue {
    background-color: $background-color;
    border-radius: 5px;
    margin-bottom: 20px;
}

#note {
    background-color: $background-color;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.card {
    background-color: $foreground-color;
    border-radius: 5px;
}

.card:hover > .card-body {
    color: $primary-color;
    cursor: pointer;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.card-header {
    color: $primary-color;
}

.card-body {
    color: $secondary-color;
}

footer {
    color: $primary-color;
}

i:hover {
    color: $secondary-color;
    cursor: pointer;
}

i {
    padding-left: 20px;
}