<div id="repo" class="container" *ngIf="repository!==undefined">
  <div class="row">
    <div class="container">
      <a [href]="'https://github.com/'+repository.owner.login+'/'+repository.name" target="_blank"><h1>{{repository.name}}</h1></a>
      <button class="btn btn-secondary" *ngIf="!isBookmarked && user" (click)="addToBookmarks()">Bookmark</button>
      <button class="btn btn-secondary" *ngIf="isBookmarked && user" (click)="removeFromBookmarks()">Remove Bookmark</button>
      <p>{{repository.description}}</p>
      <div id="stats" class="row">
        <div class="col">
            <i class="fas fa-upload fa-3x"></i>
          <div>{{commits.length}}</div>
        </div>
        <div class="col">
            <i class="fas fa-exclamation-circle fa-3x"></i>
          <div>{{issues.length}}</div>
        </div>
        <div class="col">
            <i class="fas fa-code-branch fa-3x"></i>
          <div>{{repository.forks_count}}</div>
        </div>
        <div class="col">
          <i class="fas fa-star fa-3x"></i>
          <div>{{repository.stargazers_count}}</div>
        </div>
        <div class="col">
          <i class="fas fa-user fa-3x"></i>
          <div>{{repository.watchers_count}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="buttons">
  <div class="container">
    <div class="btn-group btn-group-lg btn-group-toggle" data-toggle="buttons" role="group" aria-label="list">
      <button type="button" class="btn btn-secondary" (click)="displayType=DisplayType.Commits">Commits</button>
      <button type="button" class="btn btn-secondary" (click)="displayType=DisplayType.Issues">Issues</button>
      <button type="button" class="btn btn-secondary" (click)="getNotes()">Notes</button>
    </div>
  </div>
</div>
<div id="display">
  <div class="container" *ngIf="displayType===DisplayType.Commits && commits">
    <div id="commit" class="container" *ngFor="let commit of commits">
      <a [href]="'https://github.com/' + repository.owner.login + '/' + repository.name + '/commit/' + commit.sha" target="_blank">
        <div class="card">
          <div class="card-header">Commit</div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <markdown>{{commit.commit.message}}</markdown>
              <footer class="blockquote-footer">Committed by <cite title="author">{{commit.commit.author.name}}</cite> on <cite title="timestamp">{{commit.commit.author.date | date}}</cite></footer>
            </blockquote>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="container" *ngIf="displayType===DisplayType.Issues && issues">
    <div id="issue" class="container" *ngFor="let issue of issues">
      <a [href]="issueLink" target="_blank">
        <div class="card">
          <div class="card-header">Issue</div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <markdown>{{issue.body}}</markdown>
              <footer class="blockquote-footer">Issue opened by <cite title="author">{{issue.user.login}}</cite></footer>
            </blockquote>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="container" *ngIf="displayType===DisplayType.Notes">
    <div id="editCard" *ngIf="user" class="card-body">
      <h3>Leave a note for others to see!</h3>
      <textarea class="form-control" [(ngModel)]="currentNote" #fcontrol="ngModel" required></textarea>
      <p class="text-muted">This field supports <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
        target="_blank">Markdown</a></p>
      <button id="postBtn" class="btn btn-secondary btn-lg" (click)="addNote()" [disabled]="!fcontrol.valid">Post</button>
    </div>
    <div id="note" class="container" *ngFor="let note of notes">
      <div class="card">
        <div class="card-header">Note<i *ngIf="user && canDelete(note)" (click)="removeNote(note)" class="fas fa-trash"></i></div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <markdown>{{note.content}}</markdown>
            <footer class="blockquote-footer">Note left by <cite title="author">{{note.authorName}}</cite> on <cite title="timestamp">{{note.timestamp | date}}</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
