<div class="container-fluid" *ngIf="repoDetails!==undefined">
  <div id="repo" class="container">
    <div class="row">
      <div class="container">
        <h1>{{repoDetails.name}}</h1>
        <button class="btn btn-secondary" *ngIf="!isBookmarked" (click)="addToBookmarks()">Bookmark</button>
        <button class="btn btn-secondary" *ngIf="isBookmarked" (click)="removeFromBookmarks()">Remove Bookmark</button>
        <p>{{repoDetails.description}}</p>
        <div id="stats" class="row">
          <div class="col">
            <img src="../../../../assets/icons/commit.png">
            <div>{{repoDetails.commits.length}}</div>
          </div>
          <div class="col">
            <img src="../../../../assets/icons/issue.png">
            <div>{{repoDetails.issues.length}}</div>
          </div>
          <div class="col">
            <img src="../../../../assets/icons/fork.png">
            <div>{{repoDetails.forks}}</div>
          </div>
          <div class="col">
            <img src="../../../../assets/icons/star.png">
            <div>{{repoDetails.stars}}</div>
          </div>
          <div class="col">
            <img src="../../../../assets/icons/watcher.png">
            <div>{{repoDetails.watchers}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="buttons" class="row">
    <div class="container">
      <div class="btn-group btn-group-lg btn-group-toggle" data-toggle="buttons" role="group" aria-label="list">
        <button type="button" class="btn btn-secondary" (click)="display='commits'">Commits</button>
        <button type="button" class="btn btn-secondary" (click)="display='issues'">Issues</button>
        <button type="button" class="btn btn-secondary" (click)="display='notes'">Notes</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container" *ngIf="display==='commits' && repoDetails">
      <div id="commit" class="container" *ngFor="let commit of repoDetails.commits">
        <a [href]="'https://github.com/' + repoDetails.owner + '/' + repoDetails.name + '/commit/' + commit.sha" target="_blank">
          <div class="card">
            <div class="card-header">Commit</div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <markdown>{{commit.message}}</markdown>
                <footer class="blockquote-footer">Committed by <cite title="author">{{commit.author}}</cite></footer>
              </blockquote>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="container" *ngIf="display==='issues' && repoDetails">
      <div id="issue" class="container" *ngFor="let issue of repoDetails.issues">
        <a [href]="issueLink" target="_blank">
          <div class="card">
            <div class="card-header">Issue</div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <markdown>{{issue.description}}</markdown>
                <footer class="blockquote-footer">Issue opened by <cite title="author">{{issue.author}}</cite></footer>
              </blockquote>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="container" *ngIf="display==='notes'">
      <div id="editCard" *ngIf="checkLogin()" class="card-body">
        <h3>Leave a note for others to see!</h3>
        <textarea class="form-control" [(ngModel)]="currentNote" #fcontrol="ngModel" required></textarea>
        <p class="text-muted">This field supports <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
          target="_blank">Markdown</a></p>
        <button id="postBtn" class="btn btn-secondary btn-lg" (click)="addNote()" [disabled]="!fcontrol.valid">Post</button>
      </div>
      <div id="note" class="container" *ngFor="let note of repoDetails.notes">
        <div class="card">
          <div class="card-header">Note<img (click)="removeNote(note)" id="deleteIcon" src="../../../../assets/icons/garbage.png"/></div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{note.content}}</p>
              <footer class="blockquote-footer">Note left by <cite title="author">{{note.authorEmail}}</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
