@import "../../../theme.scss";

.container {
    background-color: $background-color;
    width: 40%;
}

@media only screen and (max-width: 1300px) {
    .container {
        width: 100%;
    }
}

.form-row {
    margin-bottom: 15px;
}

label, input {
    color: $secondary-color;
}

#formWrapper {
    padding: 50px;
    background-color: $foreground-color;
    border-radius: 5px;
}

button {
    color: $primary-color;
    background-color: $foreground-color;
    text-align: center;
    margin: auto auto;
    width: 10em;
}

button:hover {
    background-color: $primary-color;
    color: $foreground-color;
}

#buttonWrapper {
    text-align: center;
}