@import "../../../../theme.scss";

img {
    width:200px;
    height:200px;
    border-radius: 30px;
}

.card {
    padding: 20px;
    border-radius: 5px;
    background-color: $foreground-color;
}

#card-body {
    margin-left: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    color: $secondary-color;
}

h1 {
    color: $primary-color;
}

.card:hover > div div div h1 {
    color: $background-color;
}

@media only screen and (max-width: 1300px) {
    img {
        display: none;
    }
}